/* tablet Layout */


@media (min-width: 768px) {

    .navbar {

        width: 35%;
        flex-direction: column;
        display: flow-root;
        position: fixed;
        top: 0;
        left: -310px;
        height: 100%;
        background-color: #f4f4f4;
        transition: left 0.3s ease;

    }

    .navbar a {

        text-decoration: none;
        display: flex;
        margin: 0;
        margin-top: 3.5rem;
        margin-left: 0.5rem;
        padding: 1rem;
        color: black;
        font-size: 1.6rem;
        border-radius: 5px;
        transition: 0.2s;
        padding: 0.5rem;
        font-weight: 700;
    }

    .navbar i {

        margin-right: 25px;

    }

    .navbar a:hover {

        background-color: #ddd;

    }

    .hamburger {

        font-size: 2rem;
        margin-left: 0.5rem;
        position: fixed;
        border-radius: 5px;
        padding: 0.75rem 1rem;
        z-index: 1;
        font-weight: 900;
        background-color: none;

    }

    .hamburger:hover {

        transition: 0.2s ease;
        background-color: none;

    }

    #nav-toggle:checked~.navbar {

        left: 0;

    }

    /* index.html content styles */




    .mainContent .intro {

        display: flex;
        flex-direction: column;
        text-align: center;
        color: #452c63;
        font-family: 'Public Sans', Arial, Helvetica, sans-serif;



    }

    .mainContent .intro p {

        font-weight: 800;
        margin: 0;
        margin-top: 1.0rem;
        margin-bottom: 1.0rem;
        font-size: 1.7rem;



    }

    .mainContent .intro h2 {

        margin: 0;
        font-size: 1.5rem;
        text-align: center;
        width: 100%;



    }

    footer .more {

        margin-top: 5rem;
        text-align: center;
        font-family: 'Public Sans', Courier, monospace;
    }

    .more a {

        margin: 0;
        font-size: 1.5rem;
        padding: 1.3rem;
        background-color: #452c63;
        color: white;
        border-radius: 25px;
        text-decoration: none;

    }

    .mainContent .intro img {

        width: 30%;
        margin: 0;
        align-self: center;
        margin-top: 15%;


    }

    /* for about.html */

    .firstSection {


        margin-top: 15%;
        display: flex;


    }

    .wrapper {

        width: 100%;
        display: flex;
        flex-direction: column;


    }

    .firstSection img {

        width: 20%;
        margin-left: 10%;



    }

    #line {


        margin: 0;
        display: flow-root;
        margin-left: 5%;
        margin-top: 5%
    }

    .firstSection h4 {

        margin: 0;
        margin-right: 12rem;
        font-size: 2rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }



    .firstSection p {

        width: 90%;
        margin: 0;
        font-size: 1.5rem;
        color: #452c63;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 1rem;
        margin-left: 2rem
    }

    .secondSection {

        width: 100%;


    }

    .secondSection h4 {


        margin: 0;
        margin: 1em;
        font-size: 1.8em;
        font-family: 'Inter', Arial, Helvetica, sans-serif;

    }

    .mainContent .secondSection .radius {


        margin-left: 1em;
        width: 90%;
        font-weight: 500;


    }

    .mainContent .secondSection .radius p {

        font-size: 1.4em;


    }

    /* for portfolio .html */

    .portfolioSection {


        width: 100%;



    }

    .portfolioSection h4 {


        text-align: center;
        font-size: 2em;



    }

    .radius2 .top h5 {


        font-size: 1.5em;
        margin-bottom: 0.2em;




    }

    .portfolioSection .radius2 p {

        font-size: 1.4em;
        font-weight: 500;




    }

    .portfolioSection .radius2 {


        margin-top: 5%;



    }

    /* for contacts.html */

    .contactSection {

        height: auto;
    }

    header h1 {

        font-size: 2rem;


    }

    .contactSection .icons {

        margin-left: 1rem;
        margin-top: 2rem;



    }

    .icons a i {

        font-size: 2rem;




    }

    .icons p {
        font-weight: 600;
        font-family: 'Inter', Courier, monospace;
        margin-left: 0.5rem;
        color: #452c63;
        font-size: 1.5rem;
    }

    .icons a p:hover {
        color: #ddd;

    }





}