/* tablet Layout */


@media (min-width: 768px) and (max-width: 1024px) {

    .DesktopText {

        display: none;

    }

    .navbar {

        width: 35%;
        display: flow-root;
        position: fixed;
        top: 0;
        left: -310px;
        height: auto;
        height: 100%;
        background-color: #FFFFED;
        transition: left 0.3s ease;

    }

    .navbar a {

        text-decoration: none;
        display: flex;
        margin: 0;
        margin-top: 3.5rem;
        margin-left: 0.5rem;
        padding: 1rem;
        color: black;
        font-size: 1.7rem;
        border-radius: 5px;
        transition: 0.2s;
        padding: 0.5rem;
        font-weight: 700;
    }

    .navbar i {

        margin-right: 25px;

    }

    .navbar a:hover {

        background-color: #ddd;
        

    }

    .hamburger {

        font-size: 2rem;
        margin-left: 0.5rem;
        position: fixed;
        border-radius: 5px;
        padding: 0.75rem 1rem;
        z-index: 2;
        font-weight: 900;
        background-color: none;

    }

    .hamburger:hover {

        transition: 0.2s ease;
        background-color: none;

    }

    #nav-toggle:checked~.navbar {

        left: 0;

    }

    /* index.html content styles */




    .mainContent .intro {

        display: flex;
        flex-direction: column;
        text-align: center;
        color: #755799;
        font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;



    }


    .mainContent .intro p {

        font-weight: 800;
        margin: 0;
        margin-top: 1.0rem;
        margin-bottom: 0.5rem;
        font-size: 2.5rem;
        color: #452c63;



    }

    .mainContent .intro h2 {

        margin: 0;
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        color: #755799;
        font-size: 1.5rem;



    }

    .intro .more {

        margin-top: 5rem;
        text-align: center;
        font-family: 'Plus Jakarta Sans', Courier, monospace;
    }

    .more a {

        margin: 0;
        font-size: 1.5rem;
        padding: 1.3rem;
        background-color: #755799;
        color: white;
        border-radius: 25px;
        text-decoration: none;

    }

       .more a:hover {
        color: antiquewhite;
        background-color: rgb(174, 136, 161);
        transition: 0.5s;
    }

    .intro img {

        width: 30%;
        margin: 0;
        margin-top: 15%;


    }

    /* for about.html */

    .firstSection {


        margin-top: 15%;
        display: flex;


    }

    .wrapper {

        width: 100%;
        display: flex;
        flex-direction: column;


    }

    .firstSection img {

        width: 20%;
        margin-left: 10%;



    }

    #line {


        margin: 0;
        display: flow-root;
        margin-left: 5%;
        margin-top: 5%
    }

    .firstSection h4 {


        
        margin-right: 14rem;
        font-size: 2rem;
        font-family: 'Plus Jakarta Sans', Courier, monospace;

    }



    .firstSection p {

        width: 90%;
        margin: 0;
        font-size: 1.5rem;
        color: #452c63;
        font-family: 'Plus Jakarta Sans', Courier, monospace;
        margin-top: 1rem;
        margin-left: 2rem
    }

    .secondSection {

        width: 100%;


    }

    .secondSection h4 {


        margin: 0;
        margin: 1em;
        font-size: 1.8em;
        font-family: 'Inter', Arial, Helvetica, sans-serif;

    }

    .mainContent .secondSection .radius {


        margin-left: 1em;
        width: 90%;
        font-weight: 500;


    }

    .mainContent .secondSection .radius p {

        font-size: 1.4em;
        font-weight: 600;


    }

    /* for portfolio .html */

    .portfolioSection {


        width: 100%;



    }

    .portfolioSection h4 {


        text-align: center;
        font-size: 2em;



    }

    .radius2 .top h5 {


        font-size: 1.5em;
        margin-bottom: 0.2em;




    }

    .portfolioSection .radius2 p {

        font-size: 1.4em;
        font-weight: 500;




    }

    .portfolioSection .radius2 {


        margin-top: 5%;



    }

    /* for contacts.html */

    .contactSection {

        height: auto;
    }

    header h1 {

        font-size: 2rem;


    }

    .contactSection .icons {

        margin-left: 1rem;
        margin-top: 2rem;



    }

    .icons a i {

        font-size: 2rem;




    }

    .icons p {
        font-weight: 600;
        font-family: 'Inter', Courier, monospace;
        margin-left: 0.5rem;
        color: #452c63;
        font-size: 1.5rem;
    }

    .icons a p:hover {
        color: #ddd;

    }



    /* Hobbies Section */




    #hobbie {

        margin-top: 4rem;
        font-family: 'Inter', Arial, Helvetica, sans-serif;
    }




    .hobbieSection {

        position: relative;
        display: flex;
        width: 90%;
        margin-left: 10%;


    }

    .hobbieSection img {


        width: 90%;
        height: auto;


    }

    .hobbieSection .overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        width: 90%;
        height: 100%;


    }

    .hobbieSection .text {
        position: absolute;
        top: 90%;
        left: 73%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        font-weight: 400;
        width: 60%;
        font-family: 'inter', Times, serif;
        font-size: 20px;


    }


    .hobbieSection .text p {
        margin: 0;




    }

}

/* Desktop Layout */


@media (min-width: 1025px) {



    body {

        margin: 0;
        padding: 0;
        font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
        background-color: #FFFFED;

    }

    .container {

        width: 100%;
        height: auto;
        display: flow-root;

    }


    .DesktopText {


        display: block;
        position: absolute;
        font-size: 2rem;
        margin-right: 95rem;





    }

    .navbar {


        flex-direction: row;
        width: auto;
        font-size: 1.8rem;
        padding: 1rem;
        position: static;
        left: 0;
        height: auto;
        transition: none;
        z-index: auto;
        display: flex;
        justify-content: center;





    }

    .navbar a {

        text-decoration: none;
        display: flex;
        flex-direction: row;
        margin: 0;
        color: black;
        font-size: 1.2rem;
        border-radius: 0;
        transition: 0;
        padding: 1.5rem;
        font-weight: 600;





    }

    .navbar i {

        margin: 0;
        display: none;


    }

    .navbar a:hover {

        background-color: none;
        color: rgb(174, 136, 161);
        transition: 0.5s;

    }

    .hamburger {

        font-size: 0;
        margin: 0;
        position: static;
        border-radius: 0;
        padding: 0;
        z-index: 0;
        font-weight: 0;
        background-color: none;
        display: none;

    }

    .hamburger:hover {

        transition: none;
        background-color: none;



    }

    #nav-toggle:checked~.navbar {

        left: none;


    }







    /* Index.html */







    .mainContent .intro {


        color: #000000;
        display: flex;
        flex-direction: row;




    }

    .mainContent .intro picture {


        order: 4;





    }

    .intro img {

        margin-top: 5rem;
        margin-left: 0;
        border: 3px solid transparent;
        border-radius: 30px;
        width: 70%;

    }

    .mainContent .intro .group {


        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 4.2rem;
        margin-left: 5rem;

    }

    .mainContent .intro p {

        font-weight: 800;
        color: #452c63;
        order: 1;
        font-size: 1.4rem;
        text-align: left;


    }

    .mainContent .intro h2 {

        margin: 0;
        font-size: 3rem;
        color: #755799;
        order: 2;
        text-align: left;




    }

    .intro .more {


        margin-top: 2rem;
        font-family: 'Plus Jakarta Sans', Courier, monospace;
        order: 3;
        text-align: left;




    }


    .more a {

        margin: 0;
        font-size: 1.5rem;
        padding: 1.5rem;
        background-color: #755799;
        color: white;
        border-radius: 100px;
        text-decoration: none;
        display: inline-block;
        width: 30%;
        text-align: center;



    }

    .more a:hover {
        color: antiquewhite;
        background-color: rgb(174, 136, 161);
        transition: 0.5s;
    }


     /* about.me section */

       .mainContent .rowforAbout {

        display: flex;
        flex-direction: row;
    }
    

    .firstSection {


        margin: 0;
        width: 80%;
        margin-left: 5%;
    }

    .firstSection img {

        width: 30%;
        height: auto;
        border-radius: 20%;
        margin: 0;
        margin-left: 0%;
        margin-top: 4rem;

    }

    .firstSection h4 {
        font-weight: 700;
        font-size: 2rem;
        text-align: left;
        color: #452c63;
        margin-top: 1.2rem;
        margin-bottom: 0;
        font-family: 'Plus Jakarta Sans', Courier, monospace;

    }

    .firstSection p {

        width: 90%;
        margin: 0;
        text-align: left;
        color: #452c63;
        font-family: 'Inter', Courier, monospace;
        margin-top: 0.8rem;
        

    }

    #line {
        width: 90%;
        background-color: rgb(127, 102, 102);
        height: 0.5px;
        margin-top: 7%;
        margin-left: 4%;
        display: flow-root;

    }

    .secondSection {

        width: 100%;
        height: auto;


    }

    .secondSection h4 {
        font-family: 'Plus Jakarta Sans', Courier, monospace;
        margin-left: 0;
        font-size: 1.5rem;
        font-weight: 600;
        color: #452c63;
        margin-top: 4rem;
        margin-bottom: 0;


    }

    .mainContent .secondSection .radius {

        width: auto;
        background-color: #FFFFED;
        height: 20%;
        padding: 2%;
        border-radius: 50px;
        margin: 5%;
        border: 0.1px solid rgb(209, 209, 209);
        display: flex;
        vertical-align: middle;
        align-items: center;
        font-weight: 600;




    }

    .secondSection .radius i {

        color: #452c63;
        font-size: 1.5rem;
        margin: 0;
        border-radius: 20px;
        padding: 1%;


    }

    .secondSection .radius p {

        margin: 0;
        margin-left: 5%;
        color: #452c63;
        vertical-align: middle;

    }

      #line {

        width: 0%;
        background-color: none;
        height: 0px;
        margin-top: 0%;
        margin-left: 0%;


    }

   











}