    /* default mobile layout */
    * {

        box-sizing: border-box;

    }

    body {

        margin: 0;
        padding: 0;
        min-height: 100vh;
        font-family: 'Inter', Arial, Helvetica, sans-serif;

    }

    .container {

        width: 100%;
        height: auto;

    }




    .navbar {


        width: 40%;
        font-size: 1.8rem;
        flex-direction: column;
        display: flow-root;
        padding-top: 2rem;
        position: fixed;
        top: 0;
        left: -250px;
        height: 100%;
        background-color: #f4f4f4;
        transition: left 0.3s ease;




    }

    .navbar a {

        text-decoration: none;
        display: flex;
        margin: 0;
        margin-top: 2rem;
        margin-left: 0.5rem;
        color: black;
        font-size: 1.1rem;
        border-radius: 5px;
        transition: 0.2s;
        padding:  0.5rem;
        font-weight: 700;
    }
    .navbar i {

        margin-right: 8px;


    }

    .navbar a:hover {

        background-color: #ddd;
    }

    .hamburger {

        font-size: 1rem;
        margin-left: 0.5rem;
        position: fixed;
        border-radius: 5px;
        padding: 0.75rem 1rem;
        z-index: 1;
        font-weight: 900;

    }

    .hamburger:hover {

        transition: 0.2s ease;
        background-color: #f4f4f4;



    }

    #nav-toggle:checked ~ .navbar {

        left: 0;



    }