    /* default mobile layout */
    * {

    box-sizing: border-box;

    }
    body {

    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Inter', Arial, Helvetica, sans-serif;

    }

    .container {

        width: 100%;
        max-width: 600px;
        height: auto;

    }

    .header {

    width: 30%;
    height: auto;
    


    }


    .navbar {

    font-size: 0.8rem;
    flex-direction: column;
    transition: 0.3 ease;
    display: flow-root;
    padding-top: 2rem;
    overflow: hidden;
    max-height: 0;

   
    }

    .navbar a {

    text-decoration: none;
    display: flex;
    margin: 0;
    margin-top: 2rem;
    margin-left: 0.5rem;
    color: black;
    font-size: 1.0rem;
    border-radius: 5px;
    transition: 0.2s;
    padding: 0.75rem 1rem;
    }

    .navbar a:hover {

        background-color: #ddd;
    }

    .hamburger {

        font-size: 1rem;
        margin-left: 0.5rem;
        position: fixed;
        border-radius: 5px;
        padding: 0.75rem 1rem;

    }   

    .hamburger:hover {

        background-color:#ddd;
        transition: 0.2s ease;

    }

    #nav-toggle:checked + .header .navbar {

        max-height: 30%;
        



    }
    