    /* default mobile layout */
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap');

    * {

        box-sizing: border-box;

    }

    body {

        margin: 0;
        padding: 0;
        min-height: 100vh;
        font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
        background-color: #FFFFED;

    }

    .container {

        width: 100%;
        height: auto;
        display: flow-root;

    }


    .navbar {


        width: 40%;
        font-size: 1.8rem;
        display: flow-root;
        padding-top: 2rem;
        position: fixed;
        top: 0;
        left: -250px;
        height: 100%;
        background-color: #FFFFED;
        transition: left 0.3s ease;
        z-index: 1;






    }

    .navbar a {

        text-decoration: none;
        display: flex;
        margin: 0;
        margin-top: 2rem;
        margin-left: 0.5rem;
        color: black;
        font-size: 1.1rem;
        border-radius: 5px;
        padding: 0.5rem;
        font-weight: 700;
    }

    .navbar i {

        margin-right: 8px;


    }

    .navbar a:hover {

        background-color: none;
    }

    .DesktopText {

        display: none;

    }

    .hamburger {

        font-size: 1rem;
        margin-left: 0.5rem;
        position: fixed;
        border-radius: 5px;
        padding: 0.75rem 1rem;
        z-index: 2;
        font-weight: 900;
        background-color:  #FFFFED;
    }

    .hamburger:hover {

        transition: 0.2s ease;
        background-color: none;



    }

    #nav-toggle:checked~.navbar {

        left: 0;


    }

    /* index.html content styles */

    .mainContent .intro {

        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: 'Plus Jakarta Sans', Helvetica, sans-serif;




    }

    .mainContent .intro p {

        font-weight: 800;
        margin: 0;
        margin-top: 1.0rem;
        margin-bottom: 0.3rem;
        font-size: 1.3rem;
        color: #452c63;


    }

    .mainContent .intro h2 {

        margin: 0;
        font-size: 0.9rem;
        width: 90%;
        margin-left: 1.5rem;
        font-weight: 600;
        color: #755799;


    }

    .intro img {

        width: 40%;
        margin: 0;
        margin-left: 5%;
        margin-top: 15%;


    }

    .intro .more {

        margin-top: 5rem;
        text-align: center;
        font-family: 'Plus Jakarta Sans', Courier, monospace;
    }

    .more a {

        margin: 0;
        font-size: 1.0rem;
        padding: 1.3rem;
        background-color: #755799;
        color: white;
        border-radius: 10px;
        text-decoration: none;

    }

    .more a:hover {
        color: antiquewhite;
        background-color: rgb(174, 136, 161);
        transition: 0.5s;
    }

    /* about.me section */

    .firstSection {

        width: 100%;
        height: auto;
        margin-top: 15%;
    }

    .firstSection img {

        width: 40%;
        height: 100%;
        border-radius: 20%;
        margin-left: 28%;

    }

    .firstSection h4 {
        font-weight: 700;
        font-size: 1.7rem;
        text-align: center;
        color: #452c63;
        margin-top: 1.2rem;
        margin-bottom: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    .firstSection p {

        width: 90%;
        margin: 0;
        margin-left: 1.3rem;
        color: #452c63;
        font-family: 'Public Sans', Courier, monospace;
        margin-top: 0.8rem;

    }

    #line {
        width: 90%;
        background-color: rgb(127, 102, 102);
        height: 0.5px;
        margin-top: 7%;
        margin-left: 4%;
        display: flow-root;

    }

    .secondSection {

        width: 100%;
        height: auto;


    }

    .secondSection h4 {
        font-family: "Libertinus Serif Display", Courier, monospace;
        margin-left: 1.3rem;
        font-size: 1.1rem;
        font-weight: 600;
        color: #452c63;
        margin-top: 1rem;
        margin-bottom: 0;


    }

    .mainContent .secondSection .radius {

        width: 90%;
        background-color: #FFFFED;
        height: 10%;
        padding: 4%;
        border-radius: 50px;
        margin: 5%;
        border: 0.1px solid rgb(209, 209, 209);
        display: flex;
        vertical-align: middle;
        align-items: center;




    }

    .secondSection .radius i {

        color: #452c63;
        font-size: 1.5rem;
        margin: 0;
        border-radius: 20px;
        padding: 1%;


    }

    .secondSection .radius p {

        margin: 0;
        margin-left: 5%;
        color: #452c63;
        vertical-align: middle;
        font-weight: 600;

    }

    /* portfolio section */

    #line2 {

        width: 90%;
        background-color: rgb(127, 102, 102);
        height: 0.5px;
        margin-top: 5%;
        margin-left: 4%;


    }


    .portfolioSection {

        display: flex;
        flex-direction: column;
        align-items: center;



    }

    .portfolioSection .radius2 {

        width: 90%;
        background-color: #FFFFED;
        padding: 4%;
        border-radius: 50px;
        margin-top: 10%;
        margin-left: 2%;
        border: 0.1px solid rgb(209, 209, 209);

    }

    .portfolioSection h4 {

        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #452c63;
        margin: 0;
        margin-top: 4rem;
        margin-left: 1rem;
        font-size: 1.5rem;



    }

    .portfolioSection .radius2 .top {

        display: flex;
        align-items: center;



    }

    .portfolioSection .radius2 i {

        font-size: 1.7rem;
        margin: 0;
        padding: 0;
        color: #452c63;
        margin-right: 0.5rem;

    }

    .portfolioSection .radius2 h5 {

        font-size: 1.0rem;
        color: #452c63;
        font-weight: 600;
        margin: 0;

    }

    .portfolioSection .radius2 p {

        font-size: 1.0rem;
        color: #452c63;
        margin: 0;
        margin-top: 0.5rem;

    }

    /* contacts section */

    header h1 {

        text-align: center;
        margin: 0;
        margin-top: 4rem;
        font-size: 1.3rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #452c63;




    }

    .contactSection .icons {

        width: 90%;
        background-color: #FFFFED;
        padding: 0.5%;
        border-radius: 50px;
        border: 0.1px solid rgb(209, 209, 209);
        margin-left: 1rem;
        margin-top: 1rem;



    }

    .icons a {

        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        color: #452c63;
    }




    .icons a i {

        font-size: 1.8rem;




    }

    .icons a .fa-facebook {

        color: blue;

    }

    .icons a .fa-instagram {

        color: rgb(215, 119, 135);

    }

    .icons a .fa-github {

        color: rgb(166, 28, 166);

    }



    .icons a i:hover {

        color: #ddd;
    }

    .icons p {
        font-weight: 600;
        font-family: 'Inter', Courier, monospace;
        margin-left: 0.5rem;
        color: #452c63;
    }

    .icons a p:hover {
        color: #ddd;
    }

    /* work
     Section */

    #line3 {

        width: 90%;
        background-color: rgb(127, 102, 102);
        height: 0.5px;
        margin-top: 5%;
        margin-left: 4%;
    }

    #hobbie {

        margin-top: 2.5rem;
        font-family: 'Inter', Arial, Helvetica, sans-serif;
    }

    .hobbieSection {

        position: relative;
        display: flex;
        width: 90%;
        margin: 1rem;


    }

    .hobbieSection img {

        margin: 0;
        width: 100%;
        height: auto;


    }

    .hobbieSection .overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;




    }

    .hobbieSection .text {
        position: absolute;
        top: 90%;
        left: 73%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        font-weight: 400;
        width: 60%;
        font-family: 'inter', Times, serif;


    }


    .hobbieSection .text p {
        margin: 0;




    }

    * #special {


        font-weight: 800;
        color: antiquewhite;

    }